

body{
    background-color: blueviolet;
}

h1{
    color: black
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;

}

.textos {
    color: aqua
    font-size: 30px;
    text-align: center;}