

body{
    background-color: blueviolet;
}

h1{
    color: aqua(24,206, 48);
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;

}

.textos {color: aqua(24,206, 48);
    font-size: 50px;
    text-align: center;}